<%= render "user/header" %>
<main>
  <div class="container-fluid">
    <div class="middle-box">
      <div class="row">
        <%= render "user/links" %>
        <div class="col-md-9 col-12 col-sm-9">
          <div class="tab-content">
            <div class="tab-pane fade show active text-center identity" id="check-photo" role="tabpanel">
              <h2 class="login-title">Identity</h2>
              <h1>Check your photo</h1>
              <h5>Make sure your photo are clear,<br> with no blur or glare</h5>
              <div class="passport-box">
                <%= image_tag @user.user_profile.user_photo(:thumb), size: "400x200"%>
              </div>
              <%= link_to "Redo", previous_wizard_path, class: "btn create-btn" %>
              <%= link_to "Confirm", next_wizard_path, class: "btn create-btn" %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= render "user/message_box" %>
    <a href="JavaScript:void(0);" class="help-btn"><i class="fa fa-question-circle-o"></i> HELP</a>
  </div>  
</main>