<%= render "user/header" %>
<main>
  <div class="container-fluid">
    <div class="middle-box">
      <div class="row">
        <%= render "user/links" %>
        <div class="col-md-9 col-12 col-sm-9">
          <div class="tab-content">
            <div class="tab-pane fade show active text-center identity" id="all-set" role="tabpanel">
              <h2 class="login-title">Identity</h2>
              <h1>You are all set</h1>  
              <h5>Your document successfully uploaded</h5>
              <%= image_tag asset_path('congrats.png')%>
              <h2>We are now verifying your identify</h2>
              <h5>You will receive an email from us when it’s done and this page will be updated</h5>
              <%= link_to "Next", next_wizard_path, class: "btn create-btn" %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= render "user/message_box" %>
    <a href="JavaScript:void(0);" class="help-btn"><i class="fa fa-question-circle-o"></i> HELP</a>
  </div>  
</main>
