<div class="login-container">
      <div class="login-inner">
        <div class="row login-header">
        <div class="col-md-10 col-sm-10 col-9">
          <h2 class="login-title">Sign in</h2>
        </div>
        <div class="col-md-2 col-sm-2 col-3 text-right">
          <%= image_tag asset_path('logo.png')%>
        </div>  
        </div> 
        <%= form_for(resource, as: resource_name, url: session_path(resource_name),html: {class: "signin-form"}) do |f| %>
          <div class="form-group">
            <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "text-field form-control",required: true %>
            <label>
              <span>Email</span>
            </label>
          </div>
          <div class="form-group">
            <%= f.password_field :password, autofocus: true, autocomplete: "off",class: "text-field form-control",required: true %>
            <label>
              <span>Password</span>
            </label>
          </div>
          <% if devise_mapping.rememberable? -%>
            <div class="form-group checkbox">
              <%= f.check_box :remember_me %>
              <label>
                <span>Remember me</span>
              </label>
              <%= link_to 'Forgot password?', new_user_password_path, class: 'forgot-password pull-right'%>
            </div>
            <%#= link_to 'Resend Email', users_resend_email_path, class: 'forgot-password pull-right'%>
            <br>
            <br>
          <% end -%>

          <div class="form-group">
            <button type="submit" class="btn create-btn">Sign in</button>
          </div>
        <% end %>  
        <div class="login-footer text-right">
          <h6>powered by</h6>
          <%= image_tag asset_path('logo.png')%>
        </div>        
      </div>
      <%= render "user/message_box" %>
      <a href="JavaScript:void(0);" class="help-btn"><i class="fa fa-question-circle-o"></i> HELP</a>
    </div>  

<%= render "devise/shared/links" %>